html, body {
  overflow-y:hidden;
  margin: 1rem;
}

body {
  overflow: hidden;
  font-family: 'STIX Two Text', sans-serif;
}


.logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2rem;
}

.legend h2 {
  font-weight: 500;
  display: inline-block;
  padding: 10px 15px 10px 0;
  margin: 5px 0;
  font-size: 18px;
  line-height: 1.5;
}

.legend .title {
  border-bottom: 1px solid #e8e8e8;
  border-top: none;
}

.title:hover h2,
.title:hover h1 {
  cursor: pointer;
  text-decoration: underline;
}

.slide-view {
  display: flex;
  align-items: top;
  justify-content: center;
  color: black;
  font-size: calc(10px + 2vmin);
  text-align: left;
  width: 65%;
}

.App .rc-md-editor .editor-container {
  background-color: transparent;
}

.legend {
  display: inline-block;
  font-size: 12px;
  min-width: 275px;
  margin-top: 5rem;
}

.App .rc-md-editor .rc-md-navigation {
  justify-content: left;
}

.App .rc-md-editor .editor-container .sec-md .input {
  padding: 1.5rem;
  font-size: 16px;
  background-color: #f6f6f6;
  height: 90vh;
  border-radius: 10px;
}

.rc-md-editor .drop-wrap {
  border-radius: 8px;
}

.App {
  display: flex;
}

.title h1::before,
.title h2::before{
  content: '';
  color: #131313;
  text-align: center;
  background-color: #f6f6f6;
  padding: 7px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  border-radius: 5px;
  font-weight: 700;
}

.title h2::before {
  content: 'H2';
  font-size: 15px;
}

.title h1::before {
  content: 'H1';
  font-size: 17px;
}

.markdown-view {
  width: 35%;
}

.App .rc-md-editor .rc-md-navigation {
  background: #ffffff;
  border: none;
}

.markdown-view .rc-md-editor {
  border: none;
}

.App .rc-md-editor .rc-md-navigation .button-wrap .button {
  color: #000000;
}

.markdown-view .rc-md-editor .editor-container>.section {
  border-right: none;
}

.markdown-view .sec-html {
  border-left: 1px solid rgb(221, 221, 221);
}

.slide {
  margin: 10px;
  border-radius: 5px;
  width: 100%;
  margin-top: 38px;
  padding: 3rem 8rem;
  font-size: 16px;
  height: 50vh;
  border-radius: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.slide h1 {
  font-size: 3rem;
}

.slide h2 {
  font-size: 2rem;
}