body {
  overflow: hidden;
  font-family: 'STIX Two Text', sans-serif;
  font-size: 24px;
  --primary: #fafafa;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

main {
  display: flex;
  height: 95vh;
}

.logo {
  height: 40px;
  width: 40px;
  margin: 0.75rem;
}

nav {
  max-height: 90vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  animation: fadeInAnimation ease .25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

nav ol {
  padding: 0;
  list-style: none;
  margin-top: 0;
}

nav  li {
  margin: 0.75rem 0;
  scroll-snap-align: start;
  counter-increment: step-counter;
  position: relative;
}

li .title:before {
  color: black;
  opacity: .5;
  content: counter(step-counter);
  transform: translateX(-20px)
}

.title {
  padding: 10px;
  margin: 0 1rem 0 10px;
  border-radius: 10px;
  height: 4rem;
  display: flex;
  align-items: center;
  border: 3px solid rgb(224, 224, 224);
  overflow: hidden;
  padding-left: 2.5rem;
}

nav h2, 
nav h1 {
  font-weight: 500;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  font-size: 14px;
  line-height: 1.5;
}

.title:hover {
  cursor: pointer;
}

p code {
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: .25rem .5rem;
  margin: 0 5px;
}

pre {
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 1rem;
}

button {
  background-color: transparent;
  border: none;
}

.slide-content {
  margin-top: 3rem;
}

.current-slide  {
  border: 3px solid black;
}

.fullscreen-enabled  {
  background-color: white;
}

.fullscreen.fullscreen-enabled {
  justify-content: space-between;
}

.fullscreen-enabled .slide {
  padding: 0 25% 5% 25%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fullscreen-enabled #controls {
  position: absolute;
  bottom: 0;
  margin: 3rem;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  background-color: transparent;
}

#controls {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 20%;
  border-radius: 50px;
  background-color: var(--primary);
  margin-top: 1rem;
}

#controls button {
  position: relative;
  width: 3rem;
  height: 3rem;
  line-height: 0;
}

.fullscreen-toggle {
  display: block;
  position: absolute;
}

.current-slide h2 {
  text-decoration: underline;
}

.title:hover h2,
.title:hover h1 {
  cursor: pointer;
  text-decoration: underline;
}

.fullscreen {
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
  padding: 0 5rem;
  border-radius: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  padding-bottom: 0;
}

.slide blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 1rem 10px;
}

.slide blockquote p {
  display: inline;
}

.fullscreen-enabled {
  justify-content: center;
}

/* .fullscreen.fullscreen-enabled {
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
  padding: 0 5rem;
  border-radius: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  transition: all .25s linear;
} */

.slide p {
  font-size: 24px;
  line-height: 1.5;;
}

.slide-view {
  display: flex;
  align-items: top;
  justify-content: center;
  color: black;
  text-align: left;
  width: 65%;
  height: 100%;
  animation: fadeInAnimation ease 1.25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

table {
  width: 100%;
}

table thead {
  background-color: #f6f6f6;
}

tbody {
  font-size: 20px;
}

table th, table td {
  padding: 0.5rem 1rem;
}

button:hover {
  cursor: pointer;
}

main .rc-md-editor .editor-container {
  background-color: transparent;
}

main .rc-md-editor .editor-container>.section {
  border-right: none;
}

#editor_md {
  padding: 1.5rem;
  font-size: 16px;
  background-color: var(--primary);
  border-radius: 10px;
  height: calc(100% - 4rem);
  border: none;
  height: 85vh;
}

.markdown-view {
  width: 35%;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

main .rc-md-editor .rc-md-navigation {
  background: #ffffff;
  border: none;
}

.slide img {
  width: 100%;
}

.fullscreen-enabled .fullscreen-exit,
.fullscreen:not(.fullscreen-enabled) .fullscreen-enter {
  display: inline-block;
}

.fullscreen:not(.fullscreen-enabled) .fullscreen-exit,
.fullscreen:not(.fullscreen-enabled) .counter,
.fullscreen-enabled .fullscreen-enter {
  display: none;
}

.counter {
  position: absolute;
  margin: 3rem;
  line-height: 0;
  opacity: .35;
  font-size: 25px;
  top: 0;
  left: 3rem; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  background-color: transparent;
}

.markdown-view .rc-md-editor,
.rc-md-editor .editor-container .sec-md {
  border: none;
}

.slide li {
  line-height: 1.5;
}

/* 
* * * * * * * * * * * 
  Styles for small screens
* * * * * * * *  * * * 
*/

@media (max-width: 900px) {
  .fullscreen {
    width: 100%;
    padding: 1rem;
  }

  .title {
    margin: 0;
  }

  li {
    padding-bottom: 0;
  }

  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .slide-view {
    display: block;
    margin: 0;
    width: 100%;
  }

  main .rc-md-editor .editor-container .sec-md .input {
    height: auto;
    min-height: 50vh;
  }

  nav ol {
    padding: 0;
    list-style: none;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    font-size: 2rem;
  }

  #controls {
    width: 100%;
  }

  nav {
    width: 100%;
  }

  .markdown-view {
    width: 100%;
    display: block;
  }

  main {
    display: block;
    height: 100%;
  }
}